@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$--white: #FFFFFF;
$--black: #000000;
$--gray: #ddd;
$--dark-gray: #9c9c9c;
$--primary-btn-principal-color: #fecd2a;
$--primary-btn-dark-color: #e6b216;
$--primary-btn-light-color: #fce15b;
$--primary-btn-border-color: #d0940c;
$--very-light-pink: #C7C7C7;
$--very-light-blue: #f6f7fb;
$--text-input-field: #F7F7F7;
$--hospital-green: #ACD9B2;
$--sm: 14px;
$--md: 16px;
$--lg: 18px;
$--primary-font: 'Poppins';
