@import 'vars';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a[href],
input[type="submit"],
input[type="image"],
label[for],
select,
button,
.pointer {
  cursor: pointer;
}
.primary-button {
  background: radial-gradient(ellipse at center, 
      $--primary-btn-dark-color 0%, 
      $--primary-btn-principal-color 60%, 
      $--primary-btn-light-color 100%);
  border: none;
  border-bottom: 3px solid $--primary-btn-border-color;
  border-radius: 50px;
  color: $--white;
  font-weight: bold;
}
.primary-button:hover{
  background: $--primary-btn-principal-color;
}