@import 'vars';
.MenuMobile {
  position: fixed;
  inset: 0;
  width: 50vw;
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: $--very-light-blue;
  animation: menuIn 0.3s ease-in-out;
  box-shadow: 0 0 16px rgba($color: $--black, $alpha: 0.28);

  &-close {
    align-self: flex-start;
    margin-top: 15px;
    margin-left: 7px;
    padding: 3px 9px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: $--primary-btn-principal-color;
    font-weight: bold;
  }

  &-user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px;

    figure {
      position: relative;
      width: 35px;
      height: 35px;
    }

    p {
      line-height: 1;
    }

    &-login {
      font-size: $--sm;
      padding: 5px 15px;
    }
    &-register {
      background-color: $--white;
      border-radius: 50px;
      border: 1px solid $--primary-btn-border-color;
      color: $--primary-btn-border-color;
      cursor: pointer;
      font-size: $--sm;
      font-weight: bold;
      padding: 5px 15px;
    }
  }

  &-nav {
    width: 50%;
    height: 100%;
  }

  &-main {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 7px;
    &-item {
      display: flex;
      gap: 10px;
      width: 100%;
      height: 100%;
      align-items: center;
      padding: 7px;
      font-size: $--md;
      border-radius: 5px;
      figure {
        position: relative;
        height: 100%;
        aspect-ratio: 1 / 1;
      }
      &:hover {
        background-color: $--primary-btn-light-color;
      }
    }
  }
}

.active {
  background-color: $--primary-btn-principal-color;
}

@media (max-width: 500px) {
  .MenuMobile {
    width: 100vw;
  }
}

.menuOut {
  animation: menuOut 0.3s ease-in-out;
}

@keyframes menuIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes menuOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
