@import 'vars';

.PasswordRecovery {
	width: 100%;
	flex: 1;
	display: grid;
}
.PasswordRecovery-loading {
	margin: 100px auto;
}
.PasswordRecovery-container {
	width: 300px;
	margin: 100px auto;
}
.form {
	display: flex;
	flex-direction: column;
}
.label {
	font-size: $--sm;
	font-weight: bold;
	margin-bottom: 4px;
}
.input {
	background-color: $--text-input-field;
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: $--md;
	padding: 6px;
	margin-bottom: 12px;
}
.input-email {
	margin-bottom: 22px;
}
.button-confirm {
	color: $--white;
	width: 100%;
	font-size: $--lg;
	font-weight: bold;
	height: 50px;
}
@media (max-width: 460px){
	.PasswordRecovery-container{
		margin: 70px auto;
	}
}
@media (max-width: 360px){
	.PasswordRecovery-container{
		width: 270px;
		margin: 60px auto;
	}
	.button-confirm {
		height: 40px;
	}
}

//Send Email
.SendEmail {
	width: 100%;
	flex: 1;
	display: grid;
}
.SendEmail-container {
	width: 300px;
	margin: 100px auto;
}
.title {
	font-size: $--lg;
	margin-bottom: 12px;
	text-align: center;
}
.subtitle {
	color: $--very-light-pink;
	font-size: $--md;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 32px;
	text-align: center;
}
.email-image {
	width: 132px;
	height: 132px;
	border-radius: 50%;
	background-color: $--text-input-field;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 24px;
}
.email-image figure {
	position: relative;
	width: 80px;
	aspect-ratio: 1 / 1;
}
.resend {
	font-size: $--sm;
	text-align: center;
}
.resend span {
	color: $--very-light-pink;
}
.resend button {
	color: $--primary-btn-principal-color;
}
.link {
	width: 100%;
	font-size: $--md;
	font-weight: bold;
	height: 50px;
	margin-top: 14px;
	margin-bottom: 30px;
	display: grid;
	place-items: center;
}
@media (max-width: 460px){
	.SendEmail-container{
		margin: 70px auto;
	}
}
@media (max-width: 360px){
	.SendEmail-container{
		width: 270px;
		margin: 60px auto;
	}
	.link {
		height: 40px;
	}
}