@import 'vars';

.PasswordRecovery {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.PasswordRecovery-container {
	width: 300px;
	margin: 100px auto;
}
.form {
	display: flex;
	flex-direction: column;
}
.label {
	font-size: $--sm;
	font-weight: bold;
	margin-bottom: 4px;
}
.input {
	background-color: $--text-input-field;
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: $--md;
	padding: 6px;
	margin-bottom: 12px;
}
.input-email {
	margin-bottom: 22px;
}
.button-confirm {
	color: $--white;
	width: 100%;
	font-size: $--lg;
	font-weight: bold;
	height: 50px;
}
@media (max-width: 460px){
	.PasswordRecovery-container{
		margin: 70px auto;
	}
}
@media (max-width: 360px){
	.PasswordRecovery-container{
		width: 270px;
		margin: 60px auto;
	}
	.confirm-button {
		height: 40px;
	}
}
