@import 'vars';

.PasswordRecovery {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}
.PasswordRecovery-container {
	width: 300px;
	margin: 100px auto;
}
.form {
	display: flex;
	flex-direction: column;
}
.label {
	font-size: $--sm;
	font-weight: bold;
	margin-bottom: 4px;
}
.input {
	background-color: $--text-input-field;
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: $--md;
	padding: 6px;
	margin-bottom: 12px;
}
.input-email {
	margin-bottom: 22px;
}
.button-confirm {
	border-radius: 8px;
	color: $--white;
	width: 100%;
	cursor: pointer;
	font-size: $--lg;
	font-weight: bold;
	height: 50px;
}
